{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Logic Analyser{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}
{% block content %}
<style>
    body {
    background-color: #fefee6;
}
td{
padding: 0px 15px;
}

.tg th{font-weight:900; text-decoration:underline; padding: 0px 10px; border-style: solid; border-width: 0px 1px;}
.tg td{text-align:center; border-style: solid; border-width: 0px 1px;}

</style>
<center>
<div>
    <h2>Enter your statement</h2>
    <table class="tg">
<thead>
  <tr>
    <th>Operator</th>
    <th>Precedence</th>
    <th>Other Accepted Syntax</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-6nwz">¬</td>
    <td class="tg-6nwz">1</td>
    <td class="tg-6nwz">not - ~ !</td>
  </tr>
  <tr>
    <td class="tg-6nwz">∧</td>
    <td class="tg-6nwz">2</td>
    <td class="tg-6nwz">and . &amp; *</td>
  </tr>
  <tr>
    <td class="tg-6nwz">⊕</td>
    <td class="tg-6nwz">3</td>
    <td class="tg-6nwz">xor ^</td>
  </tr>
  <tr>
    <td class="tg-6nwz">∨</td>
    <td class="tg-6nwz">4</td>
    <td class="tg-6nwz">or + |</td>
  </tr>
  <tr>
    <td class="tg-6nwz">→</td>
    <td class="tg-6nwz">5</td>
    <td class="tg-6nwz">-&gt; =&gt;</td>
  </tr>
  <tr>
    <td class="tg-6nwz">↔</td>
    <td class="tg-6nwz">6</td>
    <td class="tg-6nwz">&lt;-&gt; &lt;=&gt;</td>
  </tr>
  <tr>
    <td class="tg-6nwz">? :</td>
    <td class="tg-6nwz">7</td>
    <td class="tg-6nwz"></td>
  </tr>
</tbody>
</table>

</div>

<div class="content-section">
    <form method="POST" action="">
        <dl>
            {{wtf.quick_form(form)}}
        </dl>

    </form>
</div>
{% if error %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{% endif %}
{% if desc %}
<div class="alert alert-info" role="alert">
  {{desc}}
</div>{% endif %}
<div class=page>

    {% if table != None %}
    {{ table|safe }}
    {% endif %}

</div>



{% if steps != None %}

  {{ steps|safe }}
{% endif %}

<a href="https://forms.gle/GTznLxShdGjmuBTQ6"><font size="7">Submit Feedback</font></a>
</center>
{% endblock %}