{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Questions{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}
{% block content %}
<style>
    body {
    background-color: #fefee6;
}
</style>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logic Analyser</a>
    </div>
    <ul class="nav navbar-nav">
        <li>
          <a href="/" title="Home">Home</a>
        </li>
        <li>
          <a href="/statement_analyser" title="Analyse Statements">Analyse Statements</a>
        </li>
        <li class="active">
          <a href="/choose_question_difficulty" title="Answer Questions">Answer Questions</a>
        </li>
        <li>
          <a href="https://course.inf.ed.ac.uk/inf1a" title="Course Homepage">Course Homepage</a>
        </li>
</ul>
  </div>
</nav>
<center>


<div>

    <h2>Select the difficulty of Questions</h2>


</div>
    <br><br>


<div class="content-section">
    <form method="POST" action="">
        <dl>
            {{wtf.quick_form(form)}}
        </dl>

    </form>
</div>


<a href="https://forms.gle/GTznLxShdGjmuBTQ6"><font size="7">Submit Feedback</font></a>
</center>
{% endblock %}