{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Questions{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}
{% block content %}
<style>
    body {
    background-color: #fefee6;
}
td{
padding: 0px 15px;
}

a{
cursor: pointer;
}

.tg th{font-weight:900; text-decoration:underline; padding: 0px 10px; border-style: solid; border-width: 0px 1px;}
.tg td{text-align:center; border-style: solid; border-width: 0px 1px;}
</style>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logic Analyser</a>
    </div>
    <ul class="nav navbar-nav">
        <li>
          <a onclick="window.location='/'+window.location.search;" title="Home">Home</a>
        </li>
        <li>
          <a onclick="window.location='/statement_analyser'+window.location.search;" title="Analyse Statements">Analyse Statements</a>
        </li>
        <li class="active">
          <a onclick="window.location='/choose_question_difficulty'+window.location.search;"  title="Answer Questions">Answer Questions</a>
        </li>
        <li>
          <a href="https://course.inf.ed.ac.uk/inf1a" title="Inf1a Course Page">Inf1a Course Page</a>
        </li>
</ul>
  </div>
</nav>
<center>


<div>
    {% for i in q %}
<h3>
  {{i}}
    </h3>{% endfor %}
    <div class=page>

    {% if table != None %}
    {{ table|safe }}
    {% endif %}

</div>
    <br>

    <table class="tg">
<thead>
  <tr>
    <th>Operator</th>
    <th>Precedence</th>
    <th>Other Accepted Syntax</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>¬</td>
    <td>1</td>
    <td>not - ~ !</td>
  </tr>
  <tr>
    <td>∧</td>
    <td>2</td>
    <td>and . &amp; && /\ *</td>
  </tr>
  <tr>
    <td>⊕</td>
    <td>3</td>
    <td>xor ^</td>
  </tr>
  <tr>
    <td>∨</td>
    <td>4</td>
    <td>or + | || \/</td>
  </tr>
  <tr>
    <td>→</td>
    <td>5</td>
    <td>-&gt; =&gt;</td>
  </tr>
  <tr>
    <td>↔</td>
    <td>6</td>
    <td>&lt;-&gt; &lt;=&gt;</td>
  </tr>
  <tr>
    <td>? :</td>
    <td>7</td>
    <td></td>
  </tr>
</tbody>
</table>

</div>



<div class="content-section">
    <form method="POST" action="">
        <dl>
            {{wtf.quick_form(form)}}
        </dl>

    </form>
</div>
{% if error %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
    {% endif %}
    {% if wrong %}
<div class="alert alert-danger" role="alert">
  {{wrong}}
</div>
{% endif %}
    {% if right %}
<div class="alert alert-success" role="alert">
  {{right}}
</div>
{% endif %}



{% if steps != None %}
<div class="alert alert-warning" role="alert">
  {{ steps|safe }}
</div>
{% endif %}
    <br>

<a href="https://forms.gle/GTznLxShdGjmuBTQ6"><font size="7">Submit Feedback</font></a>
</center>
{% endblock %}