{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Questions{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}
{% block content %}
<style>
    body {
    background-color: #fefee6;
}
</style>
<center>

<div>

    <h2>Convert the following to CNF</h2>
        {% if desc %}
<h3>
  {{desc}}
    </h3>{% endif %}
    <li>negations can be represented as 'not', '-', '~', '!'</li>
    <li>→ can be represented as '->', '=>'</li>
    <li>↔ can be represented as '<->', '<=>'</li>
    <li>and can be represented as 'and', '.', '&', '*'</li>
    <li>or can be represented as 'or', '+', '|'</li>
    <li>negations have the highest precedence, then and, then or, then implications</li>

</div>
    <br><br>


<div class="content-section">
    <form method="POST" action="">
        <dl>
            {{wtf.quick_form(form)}}
        </dl>

    </form>
</div>
{% if error %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
    {% endif %}
    {% if wrong %}
<div class="alert alert-danger" role="alert">
  {{wrong}}
</div>
{% endif %}
    {% if right %}
<div class="alert alert-success" role="alert">
  {{right}}
</div>
{% endif %}



{% if s1 %}
<div class="alert alert-warning" role="alert">
  {{s1}}<br>{{s2}}<br>{{s3}}<br>{{s4}}<br>{{s5}}<br>
</div>
{% endif %}

<a href="https://forms.gle/GTznLxShdGjmuBTQ6"><font size="7">Submit Feedback</font></a>
</center>
{% endblock %}